.aboutParagraph {
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: 1rem;
    padding: 1rem;
    border-top: 2px dashed var(--color-primary);
    border-bottom: 2px dashed var(--color-primary);
    font-size: 1.4rem;
}