.cardBorder {
    background-color: var(--color-secondary);
    padding: 15px;
}
.cardBorder:hover,
.cardBorder:focus {
    outline: none;
    background-color: var(--color-primary);
    cursor: pointer;
}

.title {
    color: var(--color-primary);
    text-transform: uppercase;
}

.wrapper {
    background-color: var(--color-surface);
    padding: 15px;
    border-radius: 15px;
}