* {
  --color-surface: rgb(20, 20, 20);
  --color-surface-transparent: rgba(20, 20, 20, 0.5);
  --color-body: rgb(200, 200, 200);
  --color-body-transparent: rgba(200, 200, 200, 0.5);
  --color-pure-white: #fff;
  --color-primary: #FF46CE;
  --color-secondary: #FFEF3B;

  --font-theme: "Kanit", Roboto, sans-serif;

  --pillify: 100vmax;
  --sidebar-width: 200px;

  box-sizing: border-box;
}

body {
  margin: 0;
  background: var(--color-surface);
  display: flex;
  flex-direction: column;
  align-items: center;
}

main {
  max-width: 600px;
}

p, span, a, h1, h2, h3, li {
  margin: 0;
  color: var(--color-body);
  font-family: var(--font-theme);
  font-style: italic;
}

@media screen and (min-width: 1024px) {
  main {
    max-width: 1000px;
    margin-left: calc(var(--sidebar-width) + 10px);
    margin-right: calc(var(--sidebar-width) + 10px);
  }
}